<ion-view view-title="Submit new case">
   <ion-content class="padding bg">
  <div>
     <div class="list">
       <label class="item item-input">
         <input type="text" placeholder="Case ID">
       </label>
       <label class="item item-input">
         <input type="text" placeholder="Patient's NHS number">
       </label>
     </div>

     <div class="list">

       <label class="item item-input item-select">
         <div class="input-label">
           ICD
         </div>
         <select>
           <option selected>K02.0 Caries limited to enamel</option>
           <option>K02.1 Caries of dentine</option>
           <option>K02.2 Caries of cementum</option>
           <option>K02.3 Arrested dental caries</option>
           <option>K02.4 Odontoclasia<option>
           <option>K02.5 Caries with pulp exposure</option>
           <option>K02.8 Other dental caries</option>
           <option>K02.9 Dental caries, unspecified</option>
         </select>
       </label>
     </div>

     <div>
       <label class="item item-input">
         <textarea placeholder="Suggested drugs or treatment..."></textarea>
       </label>

     <div>

     </div>

       <div class="row">
         <div class="col" ><img src="img/xray.jpg" style="width : 125px ; height : 125px;display: block;margin: 0 auto; " ><button class="button button-positive">Add X-ray</button></div>
         <div class="col"><img src="img/blood.jpg" style="width : 125px ; height : 125px; display: block;margin: 0 auto;" ><button class="button button-positive">Add Blood test</button></div>
         <div class="col"><img src="img/ekg.jpg" style="width : 125px; height : 125px;display: block;margin: 0 auto;" ><button class="button button-positive">Add EKG</button></div>
       </div>

       <button class="button button-block button-positive">
         Submit
       </button>
      </div>>


  </div>
   </ion-content>
 </ion-view>
